.login-container {
    position: inherit;
    margin-left: 48rem;
    margin-bottom: 2rem;
    width: 60%;
}

.login-form {
    background-color: white;
    padding: 0%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form h3 {
    text-align: center;
    color: #333;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #ff6600;
}

.login-form .ForgetPwd {
    color: #ff6600;
    font-weight: 600;
    text-decoration: none;
}