/* Style inputs with type="text", select elements and textareas */

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    background-color: #ff6600;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ff6601;
}

/* Add a background color and some padding around the form */

#pInfoForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 2rem;
}

#pInfoForm h3 {
    color: #ff6600;
}

/*End of the form style*/

#textArea2 {
    text-align: left;
    margin: 10rem;
    margin-top: 2rem;
    margin-bottom: 1px;
}

label {
    color: grey;
    font-style: normal;
}

/*Usefull for the flight informations*/

.flightsInfos {
    height: 50px;
    position: relative;
    margin-right: 45%;
    float: left;
}

.confirmButton {
    margin-top: 1rem;
    float: left;
    height: 50px;
    position: relative;
}

.h4ChooseFlight {
    margin-top: 0;
    margin-bottom: 0;
}

.price {
    margin-top: 1rem;
    margin-right: 04%;
    float: left;
    height: 50px;
    position: relative;
}

.h4PriceFlight {
    margin-top: 13px;
    margin-bottom: 0;
}

input[type="radio"] {
    margin-left: -16px;
}

.col-xl-4 input[type="radio"] {
    margin-left: 0px;
    margin-top: -10px;
}