li label{
    color: rgba(0, 0, 0, .5);
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: inherit;
}


#progressBar {
    background-color: white;
    border-bottom: 1px solid antiquewhite;
    border-top: 1px solid antiquewhite;
    margin-top: -15px;
    padding: .2rem 1rem;
}

.nav-item.passive label{
    color:#ff6600;
}

.nav-item.active label{
    color:red;
    font-weight: bold;
}