<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	
  <display-name>er Asmus-project</display-name>

	<servlet>
		<servlet-name>Authentification</servlet-name>
		<servlet-class>connexion.Authentification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authentification</servlet-name>
		<url-pattern>/Authentification</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet-Deconnecte</servlet-name>
		<servlet-class>connexion.Deconnecte</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-Deconnecte</servlet-name>
		<url-pattern>/servlet-Deconnecte</url-pattern>
	</servlet-mapping>	

	<servlet>
		<servlet-name>MyBooking</servlet-name>
		<servlet-class>booking.MyBooking</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyBooking</servlet-name>
		<url-pattern>/MyBooking</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet-Modification</servlet-name>
		<servlet-class>connexion.Modification</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-Modification</servlet-name>
		<url-pattern>/servlet-Modification</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet-status</servlet-name>
		<servlet-class>connexion.Status</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-status</servlet-name>
		<url-pattern>/servlet-status</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet-signin</servlet-name>
		<servlet-class>connexion.SignIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-signin</servlet-name>
		<url-pattern>/servlet-signin</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>servlet-SearchFlight</servlet-name>
		<servlet-class>bookFlight.SearchFlight</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-SearchFlight</servlet-name>
		<url-pattern>/servlet-SearchFlight</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>servlet-BookSeats</servlet-name>
		<servlet-class>seats.BookSeats</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-BookSeats</servlet-name>
		<url-pattern>/servlet-BookSeats</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet-SignIn</servlet-name>
		<servlet-class>connexion.SignIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-SignIn</servlet-name>
		<url-pattern>/connexion/servlet-SignIn</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet-PersonnalInformations</servlet-name>
		<servlet-class>bookFlight.PersonnalInformations</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-PersonnalInformations</servlet-name>
		<url-pattern>/servlet-PersonnalInformations</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet-Contact</servlet-name>
		<servlet-class>mailing.Contact</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-Contact</servlet-name>
		<url-pattern>/servlet-Contact</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet-ExtraOptions</servlet-name>
		<servlet-class>bookFlight.ExtraOptions</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-ExtraOptions</servlet-name>
		<url-pattern>/servlet-ExtraOptions</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>servlet-RegisterBooking</servlet-name>
		<servlet-class>booking.RegisterBooking</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet-RegisterBooking</servlet-name>
		<url-pattern>/servlet-RegisterBooking</url-pattern>
	</servlet-mapping>

</web-app>

<!-- 
lien explicatif sur web.xml/servlet : 
https://openclassrooms.com/fr/courses/626954-creez-votre-application-web-avec-java-ee/619584-la-servlet
-->
